@{
    ViewData["Title"] = "Contacto";
}

<body>
    <br />    <br />    <br />

    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <img class="img-fluid img-traducible" 
                src="@Url.Content("~/img/logos/titulo_medios.png")" 
                data-es="@Url.Content("~/img/logos/titulo_medios.png")" 
                data-qu="@Url.Content("~/img/logos/titulo_medios_qu.png")"
                style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <br><br><br>
        <div class="row text-center">
            <div class="col-md-1">
            </div>
            <div class="col-md-4">
                <a href="https://www.facebook.com/TeleNanu.Oficial" target="_blank">
                    <img src="~/img/logos/facebook.png" class="img-fluid" style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </a>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <a href="https://www.instagram.com/tele_nanu/?hl=es-la" target="_blank">
                    <img src="~/img/logos/instagram.png" class="img-fluid" style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </a>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <br />
        <div class="row text-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a href="https://vm.tiktok.com/ZSXENBDv/" target="_blank">
                    <img src="~/img/logos/tiktok.png" class="img-fluid" style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                </a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <br>
    </div>

    <br><br><br>

</body>